html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}

@font-face {
  font-family: 'Luga';
  src: url("../fonts/LugaBold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url("../fonts/cormorantinfant-light-webfont.woff2") format('woff2'), url("../fonts/cormorantinfant-light-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEON';
  src: url("../fonts/Heon.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Z';
  src: url("../fonts/zantroke-webfont.eot");
  src: url("../fonts/zantroke-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/zantroke-webfont.woff") format('woff'), url("../fonts/zantroke-webfont.ttf") format('truetype'), url("../fonts/zantroke-webfont.svg#pt_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url("../fonts/PTS75F-webfont.eot");
  src: url("../fonts/PTS75F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS75F-webfont.woff") format('woff'), url("../fonts/PTS75F-webfont.ttf") format('truetype'), url("../fonts/PTS75F-webfont.svg#pt_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold Italic';
  src: url("../fonts/PTS76F-webfont.eot");
  src: url("../fonts/PTS76F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS76F-webfont.woff") format('woff'), url("../fonts/PTS76F-webfont.ttf") format('truetype'), url("../fonts/PTS76F-webfont.svg#pt_sansbold_italic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Italic';
  src: url("../fonts/PTS56F-webfont.eot");
  src: url("../fonts/PTS56F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS56F-webfont.woff") format('woff'), url("../fonts/PTS56F-webfont.ttf") format('truetype'), url("../fonts/PTS56F-webfont.svg#pt_sansitalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS55F-webfont.woff") format('woff'), url("../fonts/PTS55F-webfont.ttf") format('truetype'), url("../fonts/PTS55F-webfont.svg#pt_sansregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Caption Bold';
  src: url("../fonts/PTC75F-webfont.eot");
  src: url("../fonts/PTC75F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTC75F-webfont.woff") format('woff'), url("../fonts/PTC75F-webfont.ttf") format('truetype'), url("../fonts/PTC75F-webfont.svg#pt_sans_captionbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/PTC55F-webfont.eot");
  src: url("../fonts/PTC55F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTC55F-webfont.woff") format('woff'), url("../fonts/PTC55F-webfont.ttf") format('truetype'), url("../fonts/PTC55F-webfont.svg#pt_sans_captionregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow Bold';
  src: url("../fonts/PTN77F-webfont.eot");
  src: url("../fonts/PTN77F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTN77F-webfont.woff") format('woff'), url("../fonts/PTN77F-webfont.ttf") format('truetype'), url("../fonts/PTN77F-webfont.svg#pt_sans_narrowbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/PTN57F-webfont.eot");
  src: url("../fonts/PTN57F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTN57F-webfont.woff") format('woff'), url("../fonts/PTN57F-webfont.ttf") format('truetype'), url("../fonts/PTN57F-webfont.svg#pt_sans_narrowregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Mono';
  src: url("../fonts/ptm55ft-webfont.eot");
  src: url("../fonts/ptm55ft-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ptm55ft-webfont.woff") format('woff'), url("../fonts/ptm55ft-webfont.ttf") format('truetype'), url("../fonts/ptm55ft-webfont.svg#pt_monoregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f5871f;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718c00;
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #3e999f;
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #8959a8;
}

.hljs {
  display: block;
  background: transparent;
  color: #4d4d4c;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

.subtitle {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 38px;
  line-height: 56px;
}
.subtitle p {
  background: rgba(255,255,255,0.8);
  color: #444;
  margin: 4px;
  display: inline;
  padding: 0 8px;
  font-size: 38px;
  line-height: 48px;
}
html.scrolling,
html.scrolling * {
  pointer-events: none !important;
}
section#slides article * {
  pointer-events: none !important;
}
html body section#slides article *[data-click] {
  pointer-events: all !important;
}
.backer {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 50px;
  height: 75px;
  width: 50px;
  background-color: #c00;
}
.backer:after {
  display: block;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  border-style: solid;
  border-color: #c00 transparent transparent;
  border-width: 25px 25px 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.code-0 code {
  font-size: 48px;
}
.code-1 code {
  font-size: 42px;
}
.code-2 code {
  font-size: 36px;
}
.code-3 code {
  font-size: 28px;
}
.code-4 code {
  font-size: 24px;
}
.code-5 code {
  font-size: 20px;
}
.code-6 code {
  font-size: 56px;
}
.code-7 code {
  font-size: 64px;
}
.code-8 code {
  font-size: 72px;
}
.code-9 code {
  font-size: 80px;
}
html body .font-xxlarge>*,
html body .font-xxlarge>* * {
  font-size: 72px;
  line-height: 1.43;
}
.screenshot {
  background: none;
  padding: 0;
}
.screenshot img {
  width: 100%;
}
.half {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  vertical-align: top;
}
.one-third {
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  height: 80%;
  padding: 20px;
  position: relative;
  margin-top: 40px;
  text-align: center;
}
.one-third img {
  display: inline-block;
  height: 13rem;
  width: 13rem;
}
.one-third h2 {
  display: inline-block;
  margin-top: 1rem;
  text-align: center;
  font-size: 48px;
  line-height: 1.43;
  font-weight: bold;
}
.screen img {
  max-height: 70%;
}
.screen .url {
  font-size: 42px;
  line-height: 1.68;
  margin-top: 0;
}
.screen {
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.illustration {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.qrcode img {
  mix-blend-mode: multiply;
  max-width: 90%;
  width: 90%;
  max-height: 70%;
  margin: auto;
  display: block;
}
.qrcode img.avatar {
  max-width: 50%;
  margin: 0;
}
.qrcode .wrapper {
  line-height: 0;
  width: 100%;
}
.qrcode .wrapper .half {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 50%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.qrcode .wrapper .half h1,
.qrcode .wrapper .half h2,
.qrcode .wrapper .half h3 {
  position: relative;
  left: 60px;
}
.qrcode .wrapper .half h2 {
  text-transform: none;
  font-size: 36px;
  line-height: 1.43;
}
.qrcode .wrapper .about-speaker {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.qrcode .wrapper .about-speaker p {
  font-size: 36px;
  height: auto;
  line-height: 1.68;
  margin: 0;
}
.qrcode .wrapper h1 {
  display: inline-block;
  font-size: 200px;
  vertical-align: middle;
}
.qrcode .wrapper h2 {
  display: inline-block;
  font-size: 75px;
  line-height: 1;
  text-align: left;
  vertical-align: middle;
}
.qrcode .wrapper .logotype {
  width: 35%;
  vertical-align: middle;
}
.qrcode .wrapper .link {
  width: 35%;
  vertical-align: middle;
}
.qrcode .wrapper .title {
  color: #d00;
}
.qrcode .wrapper p {
  height: 100px;
  line-height: 100px;
  font-size: 64px;
  white-space: nowrap;
}
.go-to-page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  margin: auto;
  background: rgba(0,0,0,0.75);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.go-to-page.open {
  pointer-events: auto;
  opacity: 1;
}
.go-to-page input {
  pointer-events: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 140px;
  height: 140px;
  background: #e6e6e6;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  border-radius: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  line-height: 60px;
  font-size: 42px;
}
.go-to-page input:focus {
  background-color: #fff;
}
pre {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: pre;
}
pre.block {
  display: block;
}
pre code {
  font-family: "PT Mono";
  line-height: 1.68;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #333;
  font-family: "PT Sans";
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body:not(.fs) #slides {
  -webkit-transform: none !important;
          transform: none !important;
}
.progress {
  position: fixed;
  top: -4px;
  left: 0;
  right: 0;
  height: 4px;
  margin: auto;
  z-index: 1000;
  background-color: rgba(255,255,255,0.5);
  -webkit-transition: top 0.25s;
  transition: top 0.25s;
}
.progress .value {
  height: 4px;
  width: 0;
  background-color: rgba(255,0,0,0.75);
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}
body.fs {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  -webkit-transform: none;
          transform: none;
}
body.fs .progress {
  top: 0;
}
body.fs #slides {
  width: 1200px;
  height: 675px;
  overflow: hidden;
  position: fixed;
  margin: 0;
  margin-top: -337.5px;
  margin-left: -600px;
  top: 50%;
  left: 50%;
}
body.fs #slides article {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
}
body.fs #slides article.current {
  opacity: 1;
  z-index: 110;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Caption";
  text-transform: uppercase;
}
ol {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  padding: 30px 60px;
  list-style: decimal;
}
ol li {
  margin: 0 0 20px;
}
ul {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  padding: 30px 60px;
  list-style: disc;
}
ul li {
  margin: 0 0 20px;
}
article {
  overflow: hidden;
  width: 1200px;
  height: 675px;
  margin: 20px auto;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #000;
  counter-increment: slide;
  opacity: 1;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
article.current {
  -webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.25);
          box-shadow: 0 0 0 10px rgba(255,255,255,0.25);
}
article:after {
  font-family: "PT Sans";
  content: counter(slide);
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
  text-align: center;
  font-size: 14px;
  z-index: 100;
  border-radius: 100%;
  background-color: #fff;
}
article>.wrapper {
  line-height: 1.68;
}
article.cloud h1 {
  position: absolute;
  margin: auto;
  text-align: center;
  display: block;
  border-radius: 100%;
  background-color: #fff;
}
article.cloud h1>.wrapper {
  display: inline-block;
  vertical-align: middle;
}
article.cloud h1:after {
  content: ".";
  height: 0;
  width: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 30px 10px 0 10px;
  top: 100%;
  left: 50%;
  margin: -5px 0 0 -10px;
  -webkit-transform-origin: 10px -100px;
          transform-origin: 10px -100px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
article.cloud h2 {
  position: absolute;
  margin: auto;
  text-align: center;
  display: block;
  border-radius: 100%;
  background-color: #fff;
}
article.cloud h2>.wrapper {
  display: inline-block;
  vertical-align: middle;
}
article.cloud h2:after {
  content: ".";
  height: 0;
  width: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 30px 10px 0 10px;
  top: 100%;
  left: 50%;
  margin: -5px 0 0 -10px;
  -webkit-transform-origin: 10px -100px;
          transform-origin: 10px -100px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
article.title h1 {
  width: 100%;
  line-height: 3;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}
article.dark {
  color: #fff;
}
article.center {
  text-align: center;
  line-height: 675px;
}
article>.wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
html body section#slides article iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all !important;
}
html body section#slides article iframe.half {
  width: 50%;
}
html body section#slides article iframe.half:first-child {
  right: auto;
}
html body section#slides article iframe.half:last-child {
  left: auto;
}
.blockquote {
  background-color: #e8e8e8;
  line-height: 675px;
  text-align: center;
}
.blockquote blockquote {
  width: 90%;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  line-height: 56px;
}
.blockquote blockquote time {
  font-size: 42px;
  opacity: 0.5;
}
.blockquote blockquote cite {
  opacity: 0.5;
  float: right;
  font-size: 42px;
}
.blockquote blockquote p {
  padding: 56px 0 0;
  clear: both;
  font-size: 42px;
  font-style: italic;
}
.blockquote blockquote p:before {
  content: "> ";
  font-style: normal;
}

article.contacts {
  background-color: #fff;
}
article.contacts .half,
article.contacts .wrapper {
  position: static;
}
article.contacts img {
  position: absolute;
  top: 50px;
  right: 50px;
  left: auto;
  width: 500px;
  height: 500px;
}
article.contacts a {
  position: absolute;
  bottom: 50px;
  right: 75px;
}
article.contacts .about-speaker {
  position: absolute;
  top: 50px;
  left: 60px;
}
article.cover {
  background-color: #f4f4f4;
  background-image: url("../images/title-slide.png");
  background-size: cover;
}
article.cover .container {
  position: absolute;
  top: 240px;
  left: 60px;
  right: 0;
}
article.cover h1 {
  font-size: 96px;
  line-height: 120px;
  font-family: 'PT Sans', serif;
  font-weight: bold;
  font-style: normal;
  color: #ed3f23;
  text-align: left;
  letter-spacing: 5px;
}
article.cover h1 b {
  font-size: 50px;
}
article.cover h1.left {
  top: 50%;
  left: 50%;
}
article.cover h1.right {
  top: 50%;
  left: 50%;
}
article.cloud.lazy {
  background-image: url("../images/hipster-1.jpg");
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: #000;
}
article.cloud.lazy h1 {
  width: 400px;
  height: 400px;
  right: 80px;
  top: 40px;
  left: auto;
  bottom: auto;
  line-height: 400px;
}
article.cloud.lazy h1 b {
  font-size: 96px;
}
article.cloud.lazy h1 .wrapper {
  font-size: 42px;
  line-height: 64px;
}
article.cloud.lazy h1:after {
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.lazy--nope {
  background-image: url("../images/hipster-3.jpg");
}
article.cloud.lazy--nope h1 .wrapper {
  font-size: 180px;
  line-height: 200px;
}
article.cloud.lazy--trendy {
  background-image: url("../images/hipster-2.jpg");
}
article.cloud.lazy--trendy h1 .wrapper {
  font-size: 56px;
  line-height: 72px;
  text-align: left;
  padding-left: 60px;
}
article.screen--ws-stylelint {
  background-image: url("../images/ws-stylelint-p.png");
}
article.screen--ws-preserences {
  background-image: url("../images/sytlelint-ws-preserences.png");
}
article.screen--ws-errors {
  background-image: url("../images/stylelint-ws-errors.png");
}
article.screen--sytlelint-atom {
  background-image: url("../images/stylelint-atom.png");
}
article.screen--stylelint-fix {
  background-image: url("../images/stylelint-fix.png");
}
article.screen--stylelint-error {
  background-image: url("../images/stylelint-error.png");
}
article.screen--stylelint {
  background-image: url("../images/stylelint.svg");
  background-size: contain;
}
article.screen--husky-message {
  background-image: url("../images/husky-message.png");
}
article.screen--bash {
  background-image: url("../images/bash.png");
}
article.screen--windows {
  background-image: url("../images/windows.jpg");
  background-size: cover;
}
article.screen--bc {
  background-image: url("../images/bi4.jpg");
  background-size: cover;
}
article.screen--husky {
  background-image: url("../images/husky.png");
}
article.screen--husky-less {
  background-image: url("../images/husky-less.png");
}
article.screen--eslint-init {
  background-image: url("../images/eslint_init.png");
}
article.screen--eslint-errors {
  background-image: url("../images/eslint_errors.png");
}
article.screen--eslint-better {
  background-image: url("../images/eslint_better.png");
}
article.screen--eslint-atom {
  background-image: url("../images/eslint_atom.png");
}
article.screen--eslint-atom-fix {
  background-image: url("../images/eslint_atom_fix.png");
}
article.screen--eslint-atom-error {
  background-image: url("../images/eslint_atom_error.png");
}
article.screen--ws-preferences {
  background-image: url("../images/ws_preferences.png");
}
article.screen--ws-eslint {
  background-image: url("../images/ws_eslint.png");
}
article.screen--ws-eslint-fix {
  background-image: url("../images/ws_eslint_fix.png");
}
article.screen--ws-eslint-error {
  background-image: url("../images/ws_error.png");
}
article.screen--ws-editorconfig {
  background-image: url("../images/ws-editorconfig.png");
}
article.screen--atom-editorconfig {
  background-image: url("../images/atom-editorconfig.png");
}
article.screen--prettier {
  background-image: url("../images/prettier-logo-light.svg");
}
article.screen--atom-editorconfig-error {
  background-image: url("../images/atom-editorconfig-error.png");
}
article.screen--atom-editorconfig-fix {
  background-image: url("../images/editorconfig.png");
}
article.screen--protect-branch-1 {
  background-image: url("../images/protect-branch-1.png");
}
article.screen--protect-branch-2 {
  background-image: url("../images/protect-branch-2.png");
}
article.screen--protect-push {
  background-image: url("../images/protect-from-push.png");
}
article.screen--pushed {
  background-image: url("../images/pushed.png");
}
article.illustration--end {
  background-image: url("../images/end.png");
}
article.illustration--punk {
  background-image: url("../images/punk.jpg");
}
article.illustration--editorconfig {
  background-image: url("../images/editorconfig.svg");
  background-size: contain;
}
article.illustration--hook {
  background-image: url("../images/hook.jpg");
}
article.illustration--atom {
  background-image: url("../images/atom.svg");
  background-size: contain;
}
article.illustration--ws {
  background-image: url("../images/ws.svg");
  background-size: contain;
}
article.illustration-b1 {
  background-image: url("../images/b1.jpg");
}
article.illustration-b2 {
  background-image: url("../images/b2.jpg");
}
article.illustration-b25 {
  background-image: url("../images/b25.jpg");
}
article.illustration-b3 {
  background-image: url("../images/b3.jpg");
}
article.illustration-b3x {
  background-image: url("../images/super.jpg");
}
article.illustration-b4 {
  background-image: url("../images/b4.jpg");
}
article.illustration-b5 {
  background-image: url("../images/b5.jpg");
}
article.illustration-h1 {
  background-image: url("../images/h1.png");
}
article.illustration-h2 {
  background-image: url("../images/h2.jpg");
}
article.illustration-h25 {
  background-image: url("../images/h25.png");
}
article.illustration-h3 {
  background-image: url("../images/h3.jpg");
}
article.illustration-h4 {
  background-image: url("../images/h4.jpg");
}
article.illustration-airbnb {
  background-image: url("../images/airbnb.svg");
  background-size: contain;
}
article.illustration-standard {
  background-image: url("../images/standard.svg");
  background-size: contain;
}
article.illustration-git-flow {
  background-image: url("../images/git-flow.png");
  background-size: contain;
}
article.illustration-github {
  background-image: url("../images/daftpunktocat.gif");
  background-size: auto 75%;
}
article.illustration-gitlab {
  background-image: url("../images/gitlab.svg");
  background-size: contain;
}
article.illustration--indian {
  background-image: url("../images/hindu-1.jpg");
}
article.illustration--eslint {
  background-image: url("../images/eslint.svg");
  background-size: auto;
}
article.list-1 h1 {
  font-size: 72px;
  line-height: 80px;
  text-align: left;
  margin-left: 60px;
}
article.list-1 ul {
  font-size: 48px;
  line-height: 56px;
  color: #ed3f23;
}
article.list-1 b {
  color: #333;
}
article.list-2 {
  font-size: 80px;
}
article.list-2 ul {
  font-size: 72px;
  line-height: 80px;
}
article.flow-demo .wrapper {
  mix-blend-mode: multiply;
  height: 100%;
  width: 2200px;
  background-image: url("../images/flow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: flower 4s 0.5s alternate infinite both linear;
          animation: flower 4s 0.5s alternate infinite both linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
article.flow-demo.current .wrapper {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
article.cloud.voodoo {
  background-image: url("../images/end.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
article.cloud.voodoo h1 {
  width: 400px;
  height: 400px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 400px;
}
article.cloud.voodoo h1 .wrapper {
  font-size: 38px;
  line-height: 54px;
}
article.cloud.voodoo h1 .wrapper b {
  color: #f00;
}
article.cloud.voodoo h1:after {
  -webkit-transform: rotate(-222deg);
          transform: rotate(-222deg);
  -webkit-transform-origin: 10px -195px;
          transform-origin: 10px -195px;
}
article.cloud.choose {
  background-image: url("../images/hipster-girl1.png");
  background-size: cover;
  background-position: 50% 50%;
}
article.cloud.choose h1 {
  width: 330px;
  height: 400px;
  left: 160px;
  top: 40px;
  right: auto;
  bottom: auto;
  line-height: 400px;
  text-align: left;
  padding-left: 70px;
}
article.cloud.choose h1 b {
  font-size: 96px;
}
article.cloud.choose h1 .wrapper {
  font-size: 48px;
  line-height: 56px;
}
article.cloud.choose h1:after {
  -webkit-transform: rotate(-100deg);
          transform: rotate(-100deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.choose-2 {
  background-image: url("../images/hipster-girl2.png");
}
article.cloud.choose-2 h1 {
  width: 340px;
  padding-left: 60px;
}
article.cloud.choose-2 h1 .wrapper {
  font-size: 72px;
  line-height: 96px;
}
article.cloud.choose-3 h1 {
  width: 340px;
  padding-left: 60px;
}
article.cloud.choose-3 h1 .wrapper {
  font-size: 88px;
  line-height: 88px;
}
article.cloud.choose-3 h1 .wrapper b {
  font-size: 56px;
  line-height: 56px;
}
article.cloud.why h1 {
  width: 400px;
  height: 400px;
  left: 20%;
  top: 0;
  right: auto;
  bottom: 0;
  line-height: 400px;
}
article.cloud.why h1 b {
  font-size: 60px;
  line-height: 102px;
}
article.cloud.why h1 .wrapper {
  font-size: 48px;
  line-height: 56px;
}
article.cloud.why h1:after {
  -webkit-transform: rotate(-105deg);
          transform: rotate(-105deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.change {
  background-image: url("../images/think.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
article.cloud.change h1 {
  width: 320px;
  height: 400px;
  left: 200px;
  top: 40px;
  right: auto;
  bottom: auto;
  line-height: 400px;
  text-align: left;
  padding-left: 80px;
}
article.cloud.change h1 .wrapper {
  font-size: 42px;
  line-height: 48px;
}
article.cloud.change h1:after {
  -webkit-transform: rotate(-100deg);
          transform: rotate(-100deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.think {
  background-image: url("../images/think.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
article.cloud.think h1 {
  width: 360px;
  height: 400px;
  left: 200px;
  top: 35px;
  right: auto;
  bottom: auto;
  line-height: 400px;
  text-align: left;
  padding-left: 40px;
}
article.cloud.think h1 .wrapper {
  font-size: 36px;
  line-height: 42px;
}
article.cloud.think h1:after {
  -webkit-transform: rotate(-100deg);
          transform: rotate(-100deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.think--repo h1 .wrapper {
  font-size: 56px;
  line-height: 64px;
}
article.cloud.think--left h1 .wrapper {
  font-size: 42px;
  line-height: 48px;
}
article.cloud.think--swear h1 {
  width: 400px;
  padding-left: 0;
  text-align: center;
}
article.cloud.think--swear h1 .wrapper {
  font-size: 64px;
  line-height: 72px;
  color: #ed3f23;
}
article.cloud.talk {
  background-image: url("../images/talk.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
article.cloud.talk h2 {
  width: 300px;
  height: 300px;
  right: 235px;
  bottom: 35px;
  left: auto;
  top: auto;
  line-height: 300px;
}
article.cloud.talk h2 .wrapper {
  font-size: 38px;
  line-height: 48px;
  color: #ed3f23;
}
article.cloud.talk h2:after {
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
  -webkit-transform-origin: 10px -148px;
          transform-origin: 10px -148px;
}
article.cloud.talk h1 {
  width: 360px;
  height: 400px;
  left: 35px;
  top: 35px;
  right: auto;
  bottom: auto;
  line-height: 400px;
  text-align: left;
  padding-left: 40px;
}
article.cloud.talk h1 .wrapper {
  font-size: 60px;
  line-height: 68px;
}
article.cloud.talk h1:after {
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.talk--2 h1 .wrapper {
  font-size: 48px;
  line-height: 56px;
}
article.cloud.talk--3 h1 .wrapper {
  font-size: 42px;
  line-height: 48px;
  color: #ed3f23;
}
article.cloud.hook h1 {
  width: 400px;
  height: 400px;
  left: 0px;
  bottom: 40px;
  right: 0;
  top: auto;
  line-height: 400px;
}
article.cloud.hook h1 .wrapper {
  font-size: 120px;
  line-height: 48px;
}
article.cloud.hook h1:after {
  -webkit-transform: rotate(-145deg);
          transform: rotate(-145deg);
  -webkit-transform-origin: 10px -197px;
          transform-origin: 10px -197px;
}
article.cloud.artist {
  background-image: url("../images/artist.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
article.cloud.artist h1 {
  width: 360px;
  height: 400px;
  left: 300px;
  top: 40px;
  right: auto;
  bottom: auto;
  line-height: 400px;
  text-align: left;
  padding-left: 40px;
}
article.cloud.artist h1 .wrapper {
  font-size: 36px;
  line-height: 56px;
}
article.cloud.artist h1:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.flow {
  background-image: url("../images/x1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
article.cloud.flow h1 {
  width: 340px;
  height: 400px;
  left: 250px;
  top: 20px;
  right: auto;
  bottom: auto;
  line-height: 400px;
  text-align: left;
  padding-left: 60px;
}
article.cloud.flow h1 .wrapper {
  font-size: 48px;
  line-height: 56px;
}
article.cloud.flow h1:after {
  -webkit-transform: rotate(-95deg);
          transform: rotate(-95deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.flow--2 {
  background-image: url("../images/x2.jpg");
}
article.cloud.flow--2 h1 {
  width: 400px;
  padding-left: 0px;
}
article.cloud.flow--2 h1 .wrapper {
  text-align: center;
  width: 100%;
  font-size: 72px;
  line-height: 80px;
}
article.cloud.flow--3 {
  background-image: url("../images/x3.jpg");
  background-position: 50% 0;
}
article.cloud.flow--3 h1 {
  top: auto;
  bottom: 40px;
  left: 350px;
  padding-left: 40px;
  width: 360px;
}
article.cloud.flow--3 h1:after {
  -webkit-transform: rotate(-105deg);
          transform: rotate(-105deg);
}
article.cloud.flow--3 h1 .wrapper {
  font-size: 48px;
  line-height: 56px;
  color: #ed3f23;
}
article.cloud.flow--3 h1 .wrapper b {
  color: #333;
}
article.center.qrcode.var h2 {
  font-size: 64px;
}
article.center.qrcode.var-2 h2 {
  font-size: 72px;
}
article.center.qrcode.var-3 h2 {
  font-size: 72px;
}
article.center.qrcode.var-3 a {
  font-size: 32px;
}
article.center.qrcode.var-4 h2 {
  font-size: 72px;
}
article.center.qrcode.var-4 a {
  font-size: 24px;
}
article.center.qrcode.var-5 h2 {
  font-size: 60px;
}
article.center.qrcode.var-5 a {
  font-size: 42px;
}
article.center.qrcode.var-6 h2 {
  font-size: 96px;
}
article.center.qrcode.var-6 a {
  font-size: 42px;
}
@-webkit-keyframes flower {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% + 100vw));
            transform: translateX(calc(-100% + 100vw));
  }
}
@keyframes flower {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% + 100vw));
            transform: translateX(calc(-100% + 100vw));
  }
}
